<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>IPLMaven</display-name>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	 -->
	 
	<servlet>
		<description>
  	</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	 
	<servlet>
		<description>
  	</description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<description>
  	</description>
		<display-name>UploadFileController</display-name>
		<servlet-name>UploadFileController</servlet-name>
		<servlet-class>controller.UploadFileController</servlet-class>
		<init-param>
			<param-name>rootPath</param-name>
			<param-value>C:/Users/616486/git/IPLMavenGit/</param-value>
		</init-param>
	</servlet>	
	<servlet-mapping>
		<servlet-name>UploadFileController</servlet-name>
		<url-pattern>/UploadFileController</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description>
		</description>
		<display-name>UploadFileListController</display-name>
		<servlet-name>UploadFileListController</servlet-name>
		<servlet-class>controller.UploadFileListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFileListController</servlet-name>
		<url-pattern>/UploadFileListController</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description>
		</description>
		<display-name>ResetController</display-name>
		<servlet-name>ResetController</servlet-name>
		<servlet-class>controller.ResetController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetController</servlet-name>
		<url-pattern>/ResetController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>InsertToDatabase</display-name>
		<servlet-name>InsertToDatabase</servlet-name>
		<servlet-class>controller.InsertToDatabase</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertToDatabase</servlet-name>
		<url-pattern>/InsertToDatabase</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>
		</description>
		<display-name>InsertToDatabaseController</display-name>
		<servlet-name>InsertToDatabaseController</servlet-name>
		<servlet-class>controller.InsertToDatabaseController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertToDatabaseController</servlet-name>
		<url-pattern>/InsertToDatabaseController</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<description>
		</description>
		<display-name>AdminFetchMatchsController</display-name>
		<servlet-name>AdminFetchMatchsController</servlet-name>
		<servlet-class>controller.AdminFetchMatchsController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateVenueController</display-name>
		<servlet-name>UpdateVenueController</servlet-name>
		<servlet-class>controller.UpdateVenueController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminFetchMatchsController</servlet-name>
		<url-pattern>/AdminFetchMatchsController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateVenueController</servlet-name>
		<url-pattern>/UpdateVenueController</url-pattern>
	</servlet-mapping>
	

</web-app>